.App {
  text-align: center;
}
body {
  padding: 75px;
}
@media (max-width: 479px) {
  body {
    padding: 0px;
    margin: 0;
  }
  #row {
    padding: 0;
  }
  .card {
    margin-bottom: 10px;
    border: none;
  }
  #card {
    padding: 0;
  }
}
@media (min-width: 480px) {
  #card {
    margin-bottom: 40px;
    margin-right: 24px;
    padding: 13px;
    border: 2px solid rgb(19, 15, 15);
    border-radius: 5px;
    border-width: thin;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}
/* 
@media only screen and (min-width: 992px) {
  text-wrap  mb-4 mr-4 col-xs-12 col-md-3 border border-dark rounded shadow p-3 mb-5 bg-white rounded
} */
